<% provide(:title, "Contact ") %>

<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %>| Alicia Beylan</title>
</head>
<body>
<h1>Contact</h1>
<p>
	To know more about me you can email me to
	<a href="http://aliciabeylan.com"> me </a> .
</p>
</body>
</html>