<!-- <!DOCTYPE html>
<html>
	<head>
	<title><%= yield(:title) %>| Alicia Beylan</title>
	</head>
<body> -->
<h1>Sample App</h1>
<p>
	This is the home page for a sample app.
	<a href= "http://aliciabeylan.com"></a>
</p>
<!-- </body>
</html> -->